
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 102, 0);
    margin: 0;
    padding: 0;
    z-index: 1;
}


.header {
    background-color: #efac87;
    color: #302f2f;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#serviceChart {
    width: 100% !important;
    height: 100% !important;
}
